body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--body-background-color);

  transition: 0.2s;
  font-family: 'Inter', sans-serif;
  color: var(--body-text-color);
}

html,
#root {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}



.theme-light {
  --body-text-color: black;
  --body-background-color: white;

  --navbar-text-color: #000;
  --navbar-bg-color: #f9f9f9;
  --navbar-border-color: #e6e6e7;

  --footer-bg: #F9F9FA;
  --footer-right-text: #4b4b4b;

  --status-subtitle-page: #6D6D6D;
  --status-border: #EAE9E9;
  --status-background: #FAFAFA;
  --status-subtitle: #898989;
  --status-refresh: #5c5c5c;
  --status-online: #4AAE26;
  --status-degraded: #B19606;
  --status-offline: #A93131;
  --status-unknown: #737373;
}

.theme-dark {
  --body-text-color: white;
  --body-background-color: rgb(13, 13, 13);

  --navbar-text-color: #fff;
  --navbar-bg-color: rgb(18, 18, 18);

  --footer-bg: rgb(19, 19, 19);
  --footer-right-text: #e8e8e8;

  --status-subtitle-page: #B6B6B6;
  --status-border: #3d3d3d;
  --status-background: #111111;
  --status-subtitle: #949494;
  --status-refresh: #cecece;
  --status-online: #248A00;
  --status-degraded: #B19606;
  --status-offline: #A93131;
  --status-unknown: #7C7C7C;
}

a { color: var(--body-text-color); }
  
.container-body {
  min-height: calc(100vh - 90px - 215px - 100px);
}
.container-body-dashboard {
  min-height: calc(100vh - 90px - 215px - 70px);
}
.container-body-dashboard-main {
  min-height: calc(100vh - 90px - 215px - 130px);
}

/* YOU ARE NOT ALLOWED TO USE, MODIFY OR DO ANYTHING WITH THIS CODE.
  THIS CODE IS COPYRIGHTED BY JOA_SSS, 2023 */