# Verification

:::caution Under construction
We're still working on completing this page.
:::
Secure your server by requiring new members to complete a captcha to gain access, preventing bots and raids.

## Need Help?

Join our [Discord server](https://discord.quabot.net) for support, bug reports, and setup help.
